{% extends 'app/base.html' %}

{% block content %}
    <h2>An online tutoring appointment system allows students to schedule, manage, and attend tutoring sessions remotely. It typically includes features such as selecting a tutor, choosing a time slot, setting up video calls, and tracking session history. The system helps streamline the process for both tutors and students, providing flexibility, convenience, and easy access to learning resources. Students can often review available tutors’ profiles, book appointments, and receive reminders, while tutors can manage their availability and track progress.</h2>
{% endblock content %}